*.log
.cache/
.autopilot/
hal/src/platforms/xilinx/** 
src/platforms/xilinx/vivado_archgen/include/config.h
src/platforms/xilinx/vivado_archgen/config/Jamfile
*.pyc
objs/
test/**
hal/test/**
*.swp
.Xil/
src/platforms/xilinx/vivado_archgen/design
src/platforms/xilinx/vivado_archgen/sdk.tcl
src/platforms/xilinx/vivado_archgen/platforms
lib/
hal/lib/
hal/src/platforms/xilinx/
.tmp/
src/platforms/xilinx/vivado_archgen/config/Jamrules
hal/config/settings
*.jou
hal/config/settings
src/hardware/MyRepository/pcores/vivado_cores/hls_cores/*/*_prj
*.dcp
*_prog.h
